@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --color-button-text: #ffffff;

  --color-primary-100: #dbe0e7;
  --color-primary-200: #c9d1dc;
  --color-primary-300: #3c495c;
  --color-primary-600: #303b4a;
  --color-primary-700: #242c37;
  --color-primary-800: #222934;
  --color-primary-900: #181d25;

  --color-secondary: #879eed;
  --color-secondary-600: #93a8ee;

  --color-accent: #8565f0;
  --color-accent-hover: #a28af1;
  --color-accent-disabled: #baa7f6;

  --color-error: #ef4444;
  --color-warn: #f59e0b;
  --color-success: #059669;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-primary-900) !important;
  color: var(--color-primary-100);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
