@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #262626;
  --secondary-color: #b011f5;
  --text-color: #f1f1f1;
  --bg-color: #1e1e1e;
  --error-color: #df0000;
  --gradient: linear-gradient(100deg, #b011f5 40%, #8900c4);
}

html {
  scroll-behavior: smooth;
}
body {
  /* background-color: var(--bg-color); */
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
