.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  top: 0;
  position: fixed;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  top: 0;
  position: relative;
  padding: 0px 10px 0px 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Comfortaa", cursive;
  color: var(--secondary-color);
}

.img {
  height: 60%;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  top: 0;
  position: relative;
  padding: 0px 10px 0px 10px;
}
