.container {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  width: 40%;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 20px;
  justify-content: space-around;
}

.stats {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-top: 20px;
}
